@keyframes fileExplorerActive {
    0% , 20% {
        left: -20vw;
    }
    40%,60% {
        left: -10vw;
    }
    80%,100% {
        left : 0;
    }
}

@keyframes fileExplorerInActive {
    0% , 20% {
        left: 0;
    }
    40%,60% {
        left: -10vw;
    }
    80%,100% {
        left : -20vw;
    }
}

.file-explorer-container {
    display: flex;
    flex-direction: column;
    height: 88vh;
    background-color: rgba(0,0,0,0.05);
    padding: 1em 1em;
    position: fixed;
    top: 12.5vh;
    left: 0;
    z-index: 1;
    transition: 0.5s;
    animation: fileExplorerInActive 0.2s ease-out forwards;
 
  
}

.file-explorer-active {
    display: block;
    width: 20vw;
    animation: fileExplorerActive 0.2s ease-in forwards;

}



.file-explorer-nav {
    display: flex;
    flex-direction: row;
   
}

.file-explorer-menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

}

.fileexplorer-icon-container {
    height: 1.3em;
    width: 1.3em;
}
